header {
    background-color: #7fbfff;
    text-align: center;
    color: #f4ffea;
    padding: 0.2em 0;
}

main {
    padding: 0 2em;
}

main h2 {
    background-color: #f4ffea;
    text-align: center;
    color: #7fbfff;
    letter-spacing: 1em;
}

.underline {
    text-decoration: underline;
}
